.imput{
    width: 70%;
}

[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
    background-color: rgb(201, 167, 196);
  }

  .table-container {
    overflow-x: auto; /* Habilita el desplazamiento horizontal */
    max-width: 100%; /* Limita el ancho m치ximo al contenedor */
  }

  .listconsignaciones{
    color: rgb(175, 89, 149);
  }
  
  .responsive-table {
    width: 100%;
    border-collapse: collapse; /* Combina los bordes de las celdas */
  }

  .responsive-table th, .responsive-table td {
    border: 1px solid #ddd; /* A침ade bordes a las celdas */
    padding: 10px;
    background-color: rgb(233, 204, 220);
  }
  
  /* Media query para ajustar el tama침o de las celdas en dispositivos peque침os */
  @media (max-width: 600px) {
    .responsive-table th, .responsive-table td {
      padding: 10px;
      font-size: 10px;
    }
  }