<h1 class="titulo text-center">Listado de Ventas Detalles</h1>

<div class="table-container mt-4">
    <nz-table 
      [nzShowPagination]="true"
      [nzPageSize]="4"
      class="responsive-table"
      #basicTable
      [nzData]="ventasDetalle"
    >
      <thead>
        <tr>
          <th class="text-center">Venta nro</th>
          <th class="text-center">IdCabecera</th>
          <th class="text-center">IdProducto</th>
          <th class="text-center">CodProducto</th>
          <th class="text-center">Precio</th>
          <th class="text-center">Fecha</th>
        </tr>
      </thead>
      <tbody class="align-item-center">
        @for (data of ventasDetalle; track $index) {
        <tr>
          <td class="text-center">{{ data.iddetalle }}</td>
          <td class="text-center">{{ data.idcabecera }}</td>
          <td class="text-center">{{ data.idproducto }}</td>
          <td class="text-center">{{ data.codproducto }}</td>
          <td class="text-center">{{ data.precio }}</td>
          <td class="text-center">{{ data.fecha }}</td>
        </tr>
        }
      </tbody>
    </nz-table>
  </div>