.titulo{
    color:rgb(212, 89, 165)
}

.table-container {
  width: 100%;
  border-collapse: collapse; /* Combina los bordes de las celdas */
  overflow-x: auto; /* Habilita el desplazamiento horizontal */
  max-width: 100%; /* Limita el ancho máximo al contenedor */
  position: relative;
}

.table-container th, .table-container td {
  border: 1px solid #ddd; /* Añade bordes a las celdas */
  padding: 5px;
  background-color: rgb(233, 204, 220);
}

.table-container tr {
  height: 2px; /* Altura de las filas */
}


  /* Media query para ajustar el tamaño de las celdas en dispositivos pequeños */
  @media (max-width: 600px) {
    .responsive-table th, .responsive-table td {
      padding: 10px;
      font-size: 10px;
    }
  }
  