
<div class="container">
    <h1 class="header text-center">Nueva Venta</h1>
    <div class="container">
        <div class="contenedor-filas">
        <div class="contenedor-flexbox">
            
            <div class="columna">
                <input class="input" type="text" [(ngModel)]="value" (input)="search()" placeholder="Buscar por descripcion del producto">
                @if(value && venta.length > 0){
                    <ul class="dropdown">
                        @for(data of venta; track $index){
                            <li>{{ data.descripcion }}</li>
                        }
                    </ul>  
                }            
            </div>     
            <div class="columna">
                <button class="button" nz-button nzType="primary">Agregar</button>
            </div>
    </div>
    <div class="table-container">
        <nz-table class="responsive-table" #basicTable [nzData]="venta">
            <thead>
              <tr>
                <th class="text-center">Codigo</th>
                <th class="text-center">Articulo</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Accion</th>
              </tr>
            </thead>
        </nz-table>
    </div>
</div>

